.background {
  fill: #fefefe;
}

line {
  stroke: #ddd;
  opacity: 0.8;
}

svg {
  padding-left: 80px;
  font: 10px sans-serif;
}

text {
  display: block;
  white-space: nowrap;
}

text.active {
  fill: red;
  font-size: 20px;
}

